footer{
    width: 360px;
    height: 101px;
    position: fixed;
    bottom: 0;
    background-color: #C89A8B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.voca{
    background-image: url("../img/Vocab.png");
}

.search{
    background-image: url("../img/Search.png");
}

.game{
    background-image: url("../img/Game.png");
}