header{
    width: 360px;
    height: 126px;
    background-image: url("../img/header_background.png");
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}

.img{
    width: 68px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.bread{
    background-image: url("../img/bread_icon.png");
    margin-bottom: 20px;
}