section{
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1{
    width: 270px;
}

footer{
    width: 360px;
    /* position: fixed; */
    /* bottom: 0; */
}